@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h2>payment issues</h2>
    <p class="lead">If your having trouble making the payments through payPal, Please contact Paypal seprately.
    Thank you for choosing QuickClean LLC.</p>
    <p><a href="https://www.paypal.com/us/smarthelp/home" class="btn btn-primary btn-lg">Click here for PayPal help &raquo;</a></p>
</div>

<div class="jumbotron1">
    <h2>Request Refunds</h2>
    <p class="lead">
        Customers, If you want to ask for refunds, Please click the link below. Thank you!
    </p>
    <p><a href="https://www.paypal.com/myaccount/transfer/homepage/request" class="btn btn-primary btn-lg">Click here to request refunds. &raquo;</a></p>
</div>

<div class="jumbotron2">
    <h2>General questions</h2>
    <p class="lead">
        Customers, If you have any questions or concern, Please contact QuickClean Customer service representative.
    </p>
</div>