
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PROPERTY_LIKES](
	[UID] [bigint] NOT NULL,
	[PropertyID] [bigint] NOT NULL,
 CONSTRAINT [PK_PROPERTY_LIKES_e] PRIMARY KEY CLUSTERED 
(
	[UID] ASC,
	[PropertyID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PROPERTY_RATINGS](
	[RateID] [bigint] IDENTITY(1,1) NOT NULL,
	[UID] [bigint] NOT NULL,
	[PropertyID] [bigint] NOT NULL,
	[Rating] [tinyint] NOT NULL,
 CONSTRAINT [PK_PROPERTY_RATINGSe] PRIMARY KEY CLUSTERED 
(
	[RateID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[PROPERTY_LIKES] ADD  CONSTRAINT [DF_PROPERTY_LIKES_UIDe]  DEFAULT ((0)) FOR [UID]
GO
ALTER TABLE [dbo].[PROPERTY_LIKES] ADD  CONSTRAINT [DF_PROPERTY_LIKES_PropertyIDe]  DEFAULT ((0)) FOR [PropertyID]
GO
ALTER TABLE [dbo].[PROPERTY_RATINGS] ADD  CONSTRAINT [DF_PROPERTY_RATINGS_UIDe]  DEFAULT ((0)) FOR [UID]
GO
ALTER TABLE [dbo].[PROPERTY_RATINGS] ADD  CONSTRAINT [DF_PROPERTY_RATINGS_PropertyIDe]  DEFAULT ((0)) FOR [PropertyID]
GO
ALTER TABLE [dbo].[PROPERTY_RATINGS] ADD  CONSTRAINT [DF_PROPERTY_RATINGS_Ratinge]  DEFAULT ((0)) FOR [Rating]
GO
