
@{
    ViewBag.Title = "Home - Welcome";
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>
        body {
            margin: 0;
            font-family: Arial, Helvetica, sans-serif;
            background-image: url(/Content/Image/cleaning-house-1520528100.jpg);
            background-size: cover;
        }

        .btn {
            border: solid;
            border-color: #888888;
            background-color: #e8e8e8;
            padding: 14px 28px;
            font-size: 16px;
            cursor: pointer;
            display: inline-block;
        }

        /* Gray */
        .default {
            color: black;
        }

            .default:hover {
                background: #787878;
            }
    </style>
</head>
<body>

    <div style="padding-left:36px;padding-top:100px">
        <p style="font-size:35px;font-weight:550;font-family:Fantasty, Impact">A trusted site connecting cleaning</p>
        <p style="font-size:35px;font-weight:550;font-family:Fantasty, Impact">professionals and clients.</p>
    </div>

    <div style="padding-left: 35px">
        <input type="text" id="search" name="search" placeholder="Search for Cleaners or Clients" style="width:0%;border:inset;padding: 14px 28px;">
        <button class="btn default">Go</button>
    </div>
    <div style="padding-left: 35px;padding-top:50px">
        <a href="~/Home/Properties" title="CurrentProperties">Click Here to View Current Properties</a>
    </div>

</body>
</html>
<script>
    $(document).ready(function () {
        SetActiveMenus('home');
    });
</script>