
@{
	ViewBag.Title = "More About Us";
}

<h3>@ViewBag.Title</h3>

<style>

	p {
		margin-right: 30em;
		margin-left: 10em;
	}
	h3 {
		margin-left: 7em;
	}
	h4 {
		margin-left: 7em;
	}
	h5 {
		margin-left: 7em;
	}

	body {
		background: linear-gradient(120deg, #51F8AF, #AF51F8);
		height: 300vh;

	}
</style>




<p>
	These Terms govern
</p>
<p>•	the use of this Application, and,</p>
<p>•	any other related Agreement or legal relationship with the Owner</p>
<p>
	in a legally binding way. Capitalized words are defined in the relevant dedicated section of this document.
</p>
<p>
	The User must read this document carefully.
</p>


<h3>TERMS OF USE</h3>
<p>
	Unless otherwise specified, the terms of use detailed in this section apply generally when using this Application.
</p>
<p>
	Single or additional conditions of use or access may apply in specific scenarios and in such cases are additionally indicated within this document.
</p>
<p>
	By using this Application, Users confirm to meet the following requirements:
</p>
<p> •	Users may not qualify as Consumers;</p>
<p>	•	Users must be recognized as adult by applicable law;</p>
<p>	•	Users aren’t located in a country that is subject to a U.S. Government embargo, or that has been designated by the U.S. Government as a “terrorist-supporting” country;</p>
<p> •	Users aren’t listed on any U.S. Government list of prohibited or restricted parties;</p>


<h4>Account registration</h4>
<p>
	To use the Service Users must register or create a User account, providing all required data or information in a complete and truthful manner.
	Failure to do so will cause unavailability of the Service.
</p>
<p>
	Users are responsible for keeping their login credentials confidential and safe. For this reason, Users are also required to choose passwords that meet the highest standards of strength permitted by this Application.
	By registering, Users agree to be fully responsible for all activities that occur under their username and password.
	Users are required to immediately and unambiguously inform the Owner via the contact details indicated in this document, if they think their personal information, including but not limited to User accounts, access credentials or personal data, have been violated, unduly disclosed or stolen.
</p>

<h4>Account Termination</h4>
<p>
	Users can terminate their account and stop using the Service at any time by doing the following:
</p>
<p>
	•	By directly contacting the Owner at the contact details provided in this document.
</p>
<p>
	However, termination of the account will not be possible until the subscription period paid for by the User has expired.
</p>

<h4>Account suspension and deletion</h4>
<p>
	The Owner reserves the right, at its sole discretion, to suspend or delete at any time and without notice, User accounts which it deems inappropriate, offensive or in violation of these Terms.
	The suspension or deletion of User accounts shall not entitle Users to any claims for compensation, damages or reimbursement.
	The suspension or deletion of accounts due to causes attributable to the User does not exempt the User from paying any applicable fees or prices.

</p>

<h4>Content on this Application</h4>
<p>
	Unless where otherwise specified or clearly recognizable, all content available on this Application is owned or provided by the Owner or its licensors.
	The Owner undertakes its utmost effort to ensure that the content provided on this Application infringes no applicable legal provisions or third-party rights. However, it may not always be possible to achieve such a result.
	In such cases, without prejudice to any legal prerogatives of Users to enforce their rights, Users are kindly asked to preferably report related complaints using the contact details provided in this document.
</p>

<h5>Rights regarding content on this Application - All rights reserved</h5>
<p>
	The Owner holds and reserves all intellectual property rights for any such content.
	Users may not therefore use such content in any way that is not necessary or implicit in the proper use of the Service.
</p>
<p>
	In particular, but without limitation, Users may not copy, download, share (beyond the limits set forth below), modify, translate, transform, publish, transmit, sell, sublicense, edit, transfer/assign to third parties or create derivative works from the content available on this Application, nor allow any third party to do so through the User or their device, even without the User's knowledge.
	Where explicitly stated on this Application, the User may download, copy and/or share some content available through this Application for its sole personal and non-commercial use and provided that the copyright attributions and all the other attributions requested by the Owner are correctly implemented.
	Any applicable statutory limitation or exception to copyright shall stay unaffected.
</p>

<h4>Content provided by Users</h4>
<p>
	The Owner allows Users to upload, share or provide their own content to this Application.
	By providing content to this Application, Users confirm that they are legally allowed to do so and that they are not infringing any statutory provisions and/or third-party rights.
	Rights regarding content provided by Users
</p>
<p>
	Users acknowledge and accept that by providing their own content on this Application they grant the Owner a non-exclusive, fully paid-up and royalty-free license to process such content solely for the operation and maintenance of this Application as contractually required.
	To the extent permitted by applicable law, Users waive any moral rights in connection with content they provide to this Application.
	Users acknowledge, accept and confirm that all content they provide through this Application is provided subject to the same general conditions set forth for content on this Application.

</p>

<h5>Liability for provided content</h5>
<p>
	Users are solely liable for any content they upload, post, share, or provide through this Application. Users acknowledge and accept that the Owner does not filter or moderate such content.
	However, the Owner reserves the right to remove, delete, block or rectify such content at its own discretion and to, without prior notice, deny the uploading User access to this Application:
</p>
<p>•	if any complaint based on such content is received;</p>
<p>•	if a notice of infringement of intellectual property rights is received;</p>
<p>•	upon order of a public authority; or</p>
<p>•	where the Owner is made aware that the content, while being accessible via this Application, may represent a risk for Users, third parties and/or the availability of the Service.</p>
<p>
	The removal, deletion, blocking or rectification of content shall not entitle Users that have provided such content or that are liable for it, to any claims for compensation, damages or reimbursement.
	Users agree to hold the Owner harmless from and against any claim asserted and/or damage suffered due to content they provided to or provided through this Application.

</p>


<h4>Access to external resources</h4>
<p>
	Through this Application Users may have access to external resources provided by third parties. Users acknowledge and accept that the Owner has no control over such resources and is therefore not responsible for their content and availability.
</p>
<p>
	Conditions applicable to any resources provided by third parties, including those applicable to any possible grant of rights in content, result from each such third parties’ terms and conditions or, in the absence of those, applicable statutory law.
</p>


<h4>Acceptable use</h4>
<p>
	This Application and the Service may only be used within the scope of what they are provided for, under these Terms and applicable law.
</p>
<p>
	Users are solely responsible for making sure that their use of this Application and/or the Service violates no applicable law, regulations or third-party rights.
	Therefore, the Owner reserves the right to take any appropriate measure to protect its legitimate interests including by denying Users access to this Application or the Service, terminating contracts, reporting any misconduct performed through this Application or the Service to the competent authorities – such as judicial or administrative authorities - whenever Users engage or are suspected to engage in any of the following activities:

</p>
<p>•	violate laws, regulations and/or these Terms;</p>
<p>•	infringe any third-party rights;</p>
<p>•	considerably impair the Owner’s legitimate interests;</p>
<p>•	offend the Owner or any third party.</p>


<h4>Software license</h4>
<p>
	Any intellectual or industrial property rights, and any other exclusive rights on software or technical applications embedded in or related to this Application are held by the Owner and/or its licensors.
	Subject to Users’ compliance with and notwithstanding any divergent provision of these Terms, the Owner merely grants Users a revocable, non-exclusive, non-sublicensable and non-transferable license to use the software and/or any other technical means embedded in the Service within the scope and for the purposes of this Application and the Service offered.
	This license does not grant Users any rights to access, usage or disclosure of the original source code. All techniques, algorithms, and procedures contained in the software and any documentation thereto related is the Owner’s or its licensors’ sole property.
	All rights and license grants to Users shall immediately terminate upon any termination or expiration of the Agreement.

</p>




@using (Html.BeginForm(FormMethod.Post)) {

	<div class="section">
		<button class="button-cancel" id="btnClose" name="btnClose" value="close"><i class='fa fa-times'></i> Close</button>
	</div>
}
<script>
	$(document).ready(function () {
		SetActiveMenus('aboutus');
	});
</script>
